.container {
    border: 2px solid #385d8a;
    background: #4f81bd;
    margin: 10px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    flex: 1;
    max-width: 160px;
    cursor: pointer;
}
